nav.menu{
    background-color: var(--bg-menu);
    text-align: right;
}

.menu a{
    text-decoration: none;
    color: rgb(5, 5, 5);
    padding: 10px;
    font-size: 30px;
    padding: 5px;
    margin-top: 20px;
}

.menu a:hover{
    color: #a4e0b6;
}